<!DOCTYPE html>
<html>
  <head>
    <script src="http://localhost:8098"></script>
    <title>MaNote</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://ricwtk.github.io/manote">
    <meta property="og:title" content="MaNote">
    <meta property="og:description" content="Markdown supported note keeper">
    <meta name="description" content="Mardown supported note keeper">
    <meta name="keywords" content="manote, markdown note, markdown, note, keeping note">
    <link rel="icon" type="image/png" href="icons/icon.png?v=1.0">
    <link rel="stylesheet" href="css/spectre.min.css">
    <link rel="stylesheet" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/md-themes.css">
    <link rel="stylesheet" href="css/custom.css">
    <!-- <script src="js/showdown.min.js"></script> -->
    <!-- <script src="js/vue.min.js"></script> -->
    <!-- <script src="js/google-drive-access.js"></script> -->
  </head>

  <body>
    <div class="body" id="body">

      <navbar ref="navbar"
        id="navbar"
        :note-location="noteLocation"
        :stat="stat"
        @toggle-sidebar="$refs.sidebar.toggle()"
        @reload="noteList.updateLocal()"
      ></navbar>

      <div class="content" id="note-list-and-display">
        <list-container ref="listContainer"
          id="list-container"
          :note-location="noteLocation"
          :note-list="noteList"
          :opened-dir="openedDir"
          @open-file="openFile"
          @add-opened-dir="$refs.dirChooser.toggle()"
          @create-local-note="createLocalNote"
          @delete-local-notes="deleteLocalNotes"
        ></list-container>
        
        <note-container ref="noteContainer"
          id="note-container"
          v-if="unsaved.id"
          :opened-file="openedFile"
          :unsaved="unsaved"
          :note-location="noteLocation"
          @add-new-fields="addNewFields"
          @save-note="saveNote"
          @discard-unsaved="discardUnsaved"
          @rename="renameOpenedFile"
          @set-default="setDefault"
          @set-global-default="setGlobalDefault"
          @archive="archive"
          @close-note="closeNote"
        ></note-container>
      </div>

      <sidebar ref="sidebar"
        :current-user="currentUser"
        :opened-dir="openedDir"
        :note-location="noteLocation"
        @toggle-markdownguide="$refs.markdownGuide.toggle()"
        @toggle-dirchooser="$refs.dirChooser.toggle()"
        @open-dir="openDirectory"
        @remove-dir="removeDirectory"
        @set-local="setLocal"
        @set-remote="setRemote"
        @show-archive="showArchive"
        @show-global-default="showGlobalDefault"
        @show-dir-default="showDirDefault"
      ></sidebar>

    
      <list-selection ref="selectDirForDefault"
        header-text="Select directory to view default"
        :list="openedDir.list"
        :allow-new="false"
        @selected="showThisDirDefault"
      ></list-selection>
          

      <fields-display ref="defaultDisplay"
        v-model="ddFormat"
        :title="ddTitle"
        :subtitle="ddLocation"
        @input="saveDefault"
      ></fields-display>

      <list-display ref="archive"
        header-text="Archive"
        :list="archiveList"
        :actions="[{action: 'delete', display: 'Delete'}, {action: 'unarchive', display: 'Unarchive'}]"
        @delete="deleteArchive"
        @unarchive="unarchive"
      ></list-display>
        
      <md-guide ref="markdownGuide"></md-guide>
      
      <directory-chooser ref="dirChooser"
        @select-dir="addDirectory"
      ></directory-chooser>
      
      <modal-unsavedprompt ref="modalUnsavedPrompt"
        @to-save="saveOrNot"
      ></modal-unsavedprompt>
      
      <!-- <div :class="['modal', 'text-primary', stat.running && stat.atInit ? 'active' : '']" id="modal-loading">
        <div class="modal-overlay mdi mdi-spin mdi-loading"></div>
      </div> -->
      <modal-loading :show="stat.running && stat.atInit"></modal-loading>

    </div>
    <!-- <script src="js/emoji.js"></script> -->
    <!-- <script src="js/md.js"></script> -->
    <script src="js/custom.js"></script>
    <script async defer src="https://apis.google.com/js/api.js"
      onload="initApis()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
  </body>
</html>